{% extends "base.html.twig" %}
{% block succesMessages %}
    <div id="message" class="alert alert-success pt-2" hidden="true">

    </div>
{% endblock %}
{% block navbar_links %}
            <li class="nav-item">
                <a class="nav-link no-link" href="#">Zarządzanie</a>
            </li>
            <li id="position" class="nav-item " data-toggle="modal" data-target="#positionModal">
                <a class="nav-link" data-toggle="tooltip" title="Dodaj stanowisko" data-placement="right" href="#"><i
                            class="material-icons no-line-height" style="font-size:24px;color:#b8babe">accessibility</i></a>
            </li>
            <li id="department" class="nav-item " data-toggle="modal" data-target="#departmentModal">
                <a class="nav-link" data-toggle="tooltip" title="Dodaj dział" data-placement="right" href="#"><i
                            class="material-icons no-line-height" style="font-size:24px;color:#b8babe">work</i></a>
            </li>
{% endblock navbar_links %}

{% block modals %}
    {{ include('modals/position_modal.html.twig') }}
    {{ include('modals/department_modal.html.twig') }}
{% endblock %}

{% block javascript %}
{{ parent() }}

<script src="{{ asset('js/positionModal.js') }}"></script>
<script src="{{ asset('js/departmentModal.js') }}"></script>

{% endblock %}