
<div style="font-size:24px" class="row calendar">
        <span class="js-calendar-arrow"><a
                    href="{{ path('admin_users_info',{id:user.id, date: actualDate | date('d-m-Y'),direction:"prev"}) }}"
                    class="nav-link"><i
                        class="material-icons no-line-height"
                        style="font-size:24px;color:#b8babe">keyboard_arrow_left</i></a>
        </span>

    <span id="userStatisticDate"  data-date="{{ actualDate | date('d-m-Y') }}"
          class="nav-link disabled">{{ actualDate|date('F') | trans }} {{ actualDate |date('Y') }}</span>
    <span class="js-calendar-arrow">
            <a class="" href="{{ path('admin_users_info',{id:user.id,date: actualDate | date('d-m-Y'),direction:"next"}) }}"><i
                        class="material-icons no-line-height"
                        style="font-size:24px;color:#b8babe">keyboard_arrow_right</i></a>
        </span>
</div>

<div style="border: 1px solid #d3d3d3;padding: 15px;border-radius: 6px;margin-left: 15px;margin-left: 15px;width:95%">
    <h3>Statystyki pracownika: {{ user.firstName }} {{ user.lastName }}</h3>
    <div class="row">
        <div class="col-6">
            <h3>Stawki wynagrodzenia:</h3>
            <h4>Za godzinę w pracy: {{ payRate.ratePerHour }} zł</h4>
            <h4>Za nadgodziny w pracy: {{ payRate.overtimeRate }} zł</h4>
        </div>
        <div class="col-5">
            <h3>Należne wynagrodzenie: {{ statistics.payment }} zł</h3>

        </div>
    </div>
</div>

<div class="p-3 row userStatistics">
    <div class="col-2">
        <div class="stats">
            <p class="label">{{ 'Czas pracy'|trans }}</p>
            <p class="stats-input">{{ statistics.totalWorkTime.h }}h {% if statistics.overtime.m != 0 %}{{ statistics.totalWorkTime.m }}m{% endif %}</p>
        </div>
    </div>
    <div class="col-2">
        <div class="stats">
            <p class="label">{{ 'Nadgodziny'|trans }}</p>
            <p class="stats-input">{{ statistics.overtime.h }}h {% if statistics.overtime.m != 0 %}{{ statistics.overtime.m }}m{% endif %}</p>
        </div>
    </div>

    <div class="col-2">
        <div class="stats">
            <p class="label">{{ 'Spóźnienia, braki normy'|trans }}</p>
            <p class="stats-input">{{ statistics.lateness.h }}h {% if statistics.lateness.m != 0 %}{{ statistics.lateness.m }}m{% endif %}</p>
        </div>
    </div>
    <div class="col-2">
        <div class="stats">
            <p class="label">{{ 'Obecności'|trans }}</p>
            <p class="stats-input">{{ statistics.presence }} {{ 'dni'|trans }}</p>

        </div>
    </div>
    <div class="col-2">
        <div class="stats">
            <p class="label">{{ 'Nieobecności'|trans }}</p>
            <p class="stats-input">{{ statistics.absence }} {{ 'dni'|trans }}</p>

        </div>
    </div>



</div>