{% extends 'overview/overview_base.html.twig' %}

{% block body %}
<h3 class="p-3">Rejestracja czasu pracy</h3>
<div class="row">
    <button id="rcp-btn" type="button" class="p-3 rcp-button">Dodaj status</button>
</div>

<div class="js-data-container timesheet">
    {{ timesheetView |raw }}
</div>
<div class="user-statistics js-data-container ">
    {{ userStatisticView | raw }}
</div>
<div class="js-data-container company-statistic">
    {{ companyStatisticView | raw }}
</div>

<h3 class="p-3">Ostatnie zdarzenia</h3>

<div class="" id="events">
    {% for key, status in workStatuses %}
        <div class="events-container row">
            <div class="events-date p-3 col">
                <div class="date-container">
                         <span class="month-day">
                        {{ key |date('j') }}
                         </span>
                    <span class="week-day">
                        {{ key|date('l') |trans }}
                        </span>
                </div>
                <div class="events-list col">
                    <div class="list-container" id="{{ key }}">
                        {% for status in workStatuses[key] %}
                            {% if status.name =="Wejście" %}
                                {% set color = "text-success" %}
                            {% else %}
                                {% set color = "text-danger" %}
                            {% endif %}
                            <div class="list-element">
                                <span class="event-time {{ color }}">{{ status.time }} - {{ status.name }}</span>
                                <span class="user-name">{{ status.userName }}</span>
                                <span class="department-name">{{ status.department }}</span>
                                <span class="send-by">Wysłane przez {{ status.sendBy }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
    {% block modals %}
        {{ include('modals/addStatus_modal.html.twig') }}
    {% endblock %}
    {% block javascript %}
        {{ parent() }}
        <script src="{{ asset('js/addStatusModal.js') }}"></script>
        <script>
            $(document).on('click', '.js-calendar-arrow', function () {
                var url = $(this).data('path');
                var cont = $(this).parent().closest('.js-data-container')
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        cont.html(data);
                    }
                })
            })
        </script>
    {% endblock %}
