{% extends 'duty_rooster/dutyRooster_base.html.twig' %}

{% block title %}Kreator grafików{% endblock %}
 {% block department %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-2 pr-0 pl-0" style="height: 91vh;overflow-x: scroll">
            <table class="table table-sm table-bordered text-center" style="table-layout: fixed;">
                <thead class="">
                <tr class="rooster-table-head">
                    <th scope="col">Osoba</th>
                </tr>
                </thead>
                <tbody class="rooster-users-table-body">
                {% for user in usersDto %}
                    <tr>
                        <td class=""
                            style="border-right:0px solid">
                            <div class="rooster-user-wrapper">
                                <p class="rooster-user">{{ user.fullName }}</p>
                                <p class="rooster-department">{{ user.department }}</p>
                                <p class="rooster-schedule">160/20</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-10 pl-0" style="overflow-x: auto;height: 91vh">
            <table class="table table-sm table-bordered" style="table-layout: fixed ">
                <thead class="thead-light">
                <tr class="rooster-table-head" widht="100%">
                    {% for date,value in monthDays %}
                        <th width="80px">{{ value['monthDay'] }} {{ value['day']|trans }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="rooster-table-body" data-path="{{ path('addRooster') }}">
                {% for user in usersDto %}
                    <tr data-user-id="{{ user.id }}">
                        {% for shift in user.shifts %}
                        <td>
                             {% set day = shift.weekday|trans %}
                            <div style=""class="rooster-wrapper" data-date="{{ shift.date }}" data-numericDay="{{ shift.weekDayNumber }}"
                                 value="{{ shift.weekDay|trans}}">
                                <div class="rooster-cell">
                                    {% if shift.timeFrom != null %}
                                    <span class="rooster-time">{{ shift.timeFrom }}-{{ shift.timeTo }}</span>
                                    {% endif %}
                                    {% if shift.countTimeBeforeWork != null %}
                                        <span class="rooster-overtime">+nadgodziny</span>
                                    {% elseif shift.countTimeAfterWork != null %}
                                        <span class="rooster-overtime">+nadgodziny</span>
                                    {% elseif shift.overtimeDutyRooster != null %}
                                        <span class="rooster-overtime">Grafik nadgodz.</span>
                                    {% endif %}
                                </div>

                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
