<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
        <link rel="icon" href="{{ asset('images/favicons/favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %}Company Menagement{% endblock %}</title>

</head>

<body style="overflow-x: hidden;">

<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light" id="top-nav">
    <a class="navbar-brand" href="{{ path('overview') }}">ACME Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% block navbar_links %}
    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Przegląd</a>
            </li>
        </ul>
    </div>
    {% endblock navbar_links %}
</nav>


<div class="sidebar-width">
    <nav id="sidebar" class="text-center">
        <ul class="list-unstyled">
            <li class="active">
                <a class="" href="{{ path('overview') }}">
                    <div class="icon-wrapper">
                        <i class="material-icons" style="font-size:28px;color:#b8babe">laptop</i>
                        <p class="">Przegląd</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_users_list') }}">
                    <div class="icon-wrapper">
                        <i class="material-icons" style="font-size:28px;color:#b8babe">people_outline</i>
                        <p class="">Pracownicy</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('management') }}">
                    <div class="icon-wrapper">
                        <i class="material-icons" style="font-size:28px;color:#b8babe">public</i>
                        <p class="">Zarządzanie</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('duty_rooster') }}">
                    <div class="icon-wrapper">
                        <i class="material-icons" style="font-size:28px;color:#b8babe">assignment_ind</i>
                        <p class="">Grafik Pracy</p>
                    </div>
                </a>
            </li>
            <li>

            </li>
        </ul>
    </nav>
</div>
<main role="main" id="bts-override" style="margin-left: 115px;position:relative;" widht="95%">
    <div class="row">
        <div class="{% block body_columns %}col-9{% endblock body_columns %}{% block padding %} p-r-0  {% endblock %}">
            {% block succesMessages %}{% endblock succesMessages %}
            {% for message in app.flashes('success') %}
                <div id ="message" class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="body-margin">
            {% block body %}
                <div class="starter-template">
                    <h1>Bootstrap starter template</h1>
                    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this
                        text and a mostly barebones HTML document.</p>
                </div>
            {% endblock %}
            </div>
        </div>
        {% block department %}
            <div class="col-3">
            </div>
        {% endblock %}
    </div>


</main><!-- /.container -->

{% block modals %} {% endblock modals %}
{% block javascript %}
<script src = "">< /script>

<script src = "{{ asset('js/jquery.slim.js') }}"></script>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ asset('bootstrap.bundle.js') }}"></script>
<script src="{{ asset('bootstrap.js') }}"></script>
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('js/user.js') }}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{% endblock %}
</body>
</html>
